

.item{
    
}
.item .img{
    
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item .img  img{

    width: 100%;
    height: 100%;
}

.item .text {
    position: absolute;
    top: 50%;
    transform: translate(0% ,-50%);
    background-color: white;
    padding: 62px 0;
    text-align: center;
}
.item .text h2 {
    font-size: 32px;
    font-family: cursive;
    font-style: inherit;
    font-weight: 500;
}
.item .text p {
    font-size: 14px;
    font-weight: 500;
}