.title{
    text-align: center;
}
.title p {
    color: #d99904;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
}
.title h3 {
    border-top: 3px solid #E8E8E8;
    border-bottom: 3px solid #E8E8E8;
    font-size: 26px;
    font-weight: 600;
    padding: 12px 0;
}

.AddCaryButton {
    background-color: #E8E8E8;
    padding: 11px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #BB8506;
    border-bottom: 2px solid #BB8506;
    border-radius: 6px 6px 6px 6px;
    margin-top: 12px;
    transition: .4s ;
}
.AddCaryButton:hover{
    background-color: black;
}