.title{
    text-align: center;
}
.title p {
    color: #d99904;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
}
.title h3 {
    border-top: 3px solid #E8E8E8;
    border-bottom: 3px solid #E8E8E8;
    font-size: 26px;
    font-weight: 600;
    padding: 12px 0;
}

.card {
    border: 1px solid #F3F3F3;
    border-radius: 0;
}

.contactAll p {
    color: black;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 0;
}