.title{
    text-align: center;
}
.title p {
    color: #d99904;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
}
.title h3 {
    border-top: 3px solid #E8E8E8;
    border-bottom: 3px solid #E8E8E8;
    font-size: 26px;
    font-weight: 600;
    padding: 12px 0;
}



.Parent p {
    color: black;
    font-size: 17px;
    font-weight: 600;
    font-style: italic;
    font-family: fangsong;
}
.Parent h3 {
    color: #db9904;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.Parent .img {
    width: 60px;
    height: 60px;
    margin: 15px 0;
}
.Parent img{
    width: 100%;
    height:100%;
}